extends ./layout.jade

block head
    title chat
block content
    div.page-index(ng-controller="IndexController")
        nav.header.clearfix
            div
                button.btn.btn-default.navbar-btn(hammer-tap="showContact=!showContact") 联系人
            div
                a(ng-repeat="room in rooms", ng-bind="room.name", hammer-tap="changeRoom(room)", ng-class="room==activeRoom?'active':''")
            div
                | 欢迎您，
                span #{user.nickname}
                a(ng-click="showSearchFriends=true")
                    img(height="20", src="http://placehold.it/30x30")

        div.chat-box(ng-show="activeRoom")
            div.messages(scroll-bottom="messages[activeRoom.id]")
                div(ng-repeat="message in messages[activeRoom.id]", ng-class="message.from_user_id==user.id?'right':'left'")
                    div.clearfix
                        img.head(ng-src="{{ message.from_user_avatar }}")
                        span(ng-bind="message.from_user_nickname")
                    div.message-content.clearfix
                        div(ng-bind="message.content")

            div.tool-box.clearfix
                button.send.pull-right(ng-click="send()") 发送
            div.chat-editor(contenteditable="true", ng-model="message")
                | 内容可编辑

        contact(ng-show="showContact", token="token", friends="friends", current-room="activeRoom")
        search-friends(ng-show="showSearchFriends", token="token", show="showSearchFriends", already-friends="friends", already-rooms="rooms", self="user", friends-change="getFriends()")

block javascript
    script.
        var page = {
            token: '#{token}',
            user: {
                id: '#{user.id}',
                name: '#{user.name}',
                nickname: '#{user.nickname}',
                email: '#{user.email}'
            }
        };
    script(src="/static/js/page/index.js")

