extends ./layout.jade

block head
    title chat
block content
    div.page-index(ng-controller="IndexController")
        nav.navbar.navbar-default(role="navigation")
            div.container-fluid
                div.navbar-header
                    button.btn.btn-default.navbar-btn(ng-click="showContact=!showContact") 联系人
                div.collapse.navbar-collapse
                    ul.nav.navbar-nav(style="margin-left:5px")
                        li(ng-repeat="room in rooms", ng-class="room.active?'active':''")
                            a(ng-bind="room.name", ng-click="changeRoom(room)")
                    p.navbar-text.navbar-right 欢迎您，
                        span #{user.nickname}
                        a(style="margin-left:10px", ng-click="showSearchFriends=true")
                            img(height="20", src="http://placehold.it/30x30")

        div.chat-box
            div.messages
                div(ng-repeat="message in messages[activeRoom.id]", ng-class="message.from_user_id==user.id?'right':'left'")
                    div.clearfix
                        img.head(ng-src="{{ message.from_user_avatar }}")
                        span(ng-bind="message.from_user_nickname")
                    div.message-content.clearfix
                        div(ng-bind="message.content")

            div.tool-box.clearfix
                button.send.pull-right(ng-click="send()") 发送
            div.chat-editor(contenteditable="true", ng-model="message")
                | 内容可编辑

        contact(ng-show="showContact", friends="friends")
        search-friends(ng-show="showSearchFriends", token="token", show="showSearchFriends", already-friends="friends", already-rooms="rooms", self="user")

block javascript
    script.
        var page = {
            token: '#{token}',
            user: {
                id: '#{user.id}',
                name: '#{user.name}',
                nickname: '#{user.nickname}',
                email: '#{user.email}'
            }
        };
    script(src="/static/js/page/index.js")

