extends ./layout.jade

block head
    title chat
block content
    div(ng-controller="IndexController")
        nav.navbar.navbar-default(role="navigation")
            div.container-fluid
                div.navbar-header
                    button.btn.btn-default.navbar-btn(ng-click="showContact=!showContact") 联系人
                div.collapse.navbar-collapse
                    ul.nav.navbar-nav(style="margin-left:5px")
                        li(ng-repeat="room in rooms", ng-class="room.id==activeRoom.id?'active':''")
                            a(href="javascript:;", ng-bind="room.name")
                        //- li.active
                        //-     a(href="#") 第一个群
                        //- li
                        //-     a(href="#") 与张三的聊天

        div.chat-box
            div.messages
                div(ng-repeat="message in messages", ng-class="message.from_user_id==user.id?'right':'left'")
                    div.clearfix
                        img.head(ng-src="{{ message.from_user_avatar }}")
                        span(ng-bind="message.from_user_nickname")
                    div.message-content.clearfix
                        div(ng-bind="message.content")

            div.tool-box.clearfix
                button.send.pull-right(ng-click="send()") 发送
            div.chat-editor(contenteditable="true", ng-model="message")
                | 内容可编辑

        div(ng-show="showContact")
            include ./contact.jade

block javascript
    script.
        var page = {
            user: {
                id: '#{user.id}',
                token: '#{user.token}',
                name: '#{user.name}',
                nickname: '#{user.nickname}',
                email: '#{user.email}'
            }
        };
    script(src="/static/js/page/index.js")

